<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>로그인</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/board/join.css}"/>
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            //로그인 실패시 에러 메시지 출력
            $(document).ready(function () {
                let errorMessage = [[${errorMessage}]];
                if (errorMessage != null) {
                    alert(errorMessage);
                }
            });
        </script>
    </th:block>
</head>
<div layout:fragment="content">
    <form role="form" method="post" action="/member/login">
        <div class="form-group py-2">
            <label th:for="email">이메일 주소</label>
            <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
        </div>
        <div class="form-group py-2">
            <label th:for="password">비밀번호</label>
            <input type="password" name="password" class="form-control" placeholder="비밀번호 입력">
        </div>
        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
        <div style="text-align:center" class="py-3">
            <button type="submit" class="btn btn-outline-dark">로그인</button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/member/join'">회원가입</button>
        </div>
        <a class="naver" href="/login/naver">
            <img th:src="@{/images/naver.svg}">
            <div>네이버로 로그인</div>
        </a>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>

</html>