<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/components/header.css}"/>
</head>
<body>
<div th:fragment="header">

    <!-- Navigation-->
    <div class="sub">
        <nav>
            <ul>
                <li><a sec:authorize="isAnonymous()" href="/member/join">회원가입</a></li>
                <li><a sec:authorize="isAnonymous()" href="/member/login">로그인</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/member/mypage">마이페이지</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/member/logout">로그아웃</a></li>
                <li><span sec:authorize="hasRole('ADMIN')"
                          style="font-weight: bold; color: red;">관리자</span></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <a href="/"><h1>헤더 배너</h1></a>
    </div>

    <div class="menu">
        <nav>
            <ul>
                <li class="best"><a href="/board/best">베스트</a></li>
                <li><a href="/board/list">전체글</a></li>
                <li><a href="/board/list?boardName=sports">운동</a>
                    <ul class="submenu">
                        <li><a href="/board/list?boardName=sports&category=101">⚽축구</a></li>
                        <li><a href="/board/list?boardName=sports&category=102">🏀농구</a></li>
                        <li><a href="/board/list?boardName=sports&category=103">⚾야구</a></li>
                    </ul>
                </li>
                <li><a href="/board/list?boardName=reading">독서</a>
                    <ul class="submenu">
                        <li><a href="/board/list?boardName=reading&category=201">📘소설</a></li>
                        <li><a href="/board/list?boardName=reading&category=202">📙에세이</a></li>
                        <li><a href="/board/list?boardName=reading&category=203">📗자기개발</a></li>
                    </ul>
                </li>
                <li><a href="/board/list?boardName=hobby">취미</a>
                    <ul class="submenu">
                        <li><a href="/board/list?boardName=hobby&category=301">🚄여행</a></li>
                        <li><a href="/board/list?boardName=hobby&category=302">🍗음식</a></li>
                        <li><a href="/board/list?boardName=hobby&category=303">🎮게임</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
<!--    <div class="navbar">-->
<!--        <nav>-->
<!--            <div class="navbar">-->
<!--                <span>-->
<!--                    <a class="navbar-brand" href="/">메인</a>-->
<!--                </span>-->
<!--                <div>-->
<!--                    <ul>-->
<!--                        <li class="dropdown">-->
<!--                            <a href="#">게시판</a>-->
<!--                            <div class="dropdown-content">-->
<!--                                &lt;!&ndash; 드롭다운 메뉴 항목 추가 &ndash;&gt;-->
<!--                                <a href="/board/list">게시판 목록</a>-->
<!--                                &lt;!&ndash; 추가적인 메뉴 항목은 필요에 따라 추가 &ndash;&gt;-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                            <a href="/admin/item/new">상품등록</a>-->
<!--                        </li>-->
<!--                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                            <a href="/admin/items">상품관리</a>-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAuthenticated()">-->
<!--                            <a href="/cart">장바구니</a>-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAuthenticated()">-->
<!--                            <a href="/orders">구매이력</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!-- Header-->